[submodule "components/lvgl/lvgl"]
	path = components/lvgl/lvgl
	url = https://github.com/liebman/lvgl.git
[submodule "components/lvgl_cpp"]
	path = components/lvgl_cpp
	url = https://github.com/liebman/lvgl_cpp.git
