[submodule "components/lvgl_cpp"]
	path = components/lvgl_cpp
	url = https://github.com/liebman/lvgl_cpp.git
[submodule "components/minmea/minmea"]
	path = components/minmea/minmea
	url = https://github.com/kosma/minmea.git
[submodule "components/lvgl"]
	path = components/lvgl
	url = https://github.com/lvgl/lvgl.git
