
#
# ESP32-specific
#
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240
CONFIG_ESP32_PANIC_PRINT_HALT=y
CONFIG_ESP32_DEBUG_OCDAWARE=y
# end of ESP32-specific

#
# FreeRTOS
#
CONFIG_FREERTOS_HZ=1000
CONFIG_FREERTOS_CHECK_STACKOVERFLOW_CANARY=y
CONFIG_FREERTOS_WATCHPOINT_END_OF_STACK=y
CONFIG_FREERTOS_DEBUG_OCDAWARE=y
# end of FreeRTOS

#
# Heap memory debugging
#
CONFIG_HEAP_POISONING_COMPREHENSIVE=y
CONFIG_HEAP_TASK_TRACKING=y
# end of Heap memory debugging

#
# LVGL configuration
#
# CONFIG_LVGL_COLOR_SCREEN_TRANSP is not set
CONFIG_LVGL_ANTIALIAS=y
CONFIG_LVGL_DISP_DEF_REFR_PERIOD=30
CONFIG_LVGL_DPI=130
CONFIG_LVGL_DISP_SMALL_LIMIT=30
CONFIG_LVGL_DISP_MEDIUM_LIMIT=50
CONFIG_LVGL_DISP_LARGE_LIMIT=70

#
# Font usage
#
# CONFIG_LVGL_FONT_FMT_TXT_LARGE is not set
# CONFIG_LVGL_FONT_SUBPX_BGR is not set

#
# Enable built-in fonts
#
# CONFIG_LVGL_FONT_MONTSERRAT_12 is not set
CONFIG_LVGL_FONT_MONTSERRAT_14=y
CONFIG_LVGL_FONT_MONTSERRAT_16=y
# CONFIG_LVGL_FONT_MONTSERRAT_18 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_20 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_22 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_24 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_26 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_28 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_30 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_32 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_34 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_36 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_38 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_40 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_42 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_44 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_46 is not set
# CONFIG_LVGL_FONT_MONTSERRAT_48 is not set
# CONFIG_LVGL_FONT_UNSCII8 is not set
# CONFIG_LVGL_FONT_MONTSERRAT12SUBPIX is not set
# CONFIG_LVGL_FONT_MONTSERRAT28COMPRESSED is not set
# CONFIG_LVGL_FONT_DEJAVU_16_PERSIAN_HEBREW is not set
# CONFIG_LVGL_FONT_SIMSUN_16_CJK is not set
# end of Enable built-in fonts

# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_12 is not set
CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_14=y
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_16 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_18 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_20 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_22 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_24 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_26 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_28 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_30 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_32 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_34 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_36 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_38 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_40 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_42 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_44 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_46 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT_48 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_UNSCII8 is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT12SUBPIX is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_MONTSERRAT28COMPRESSED is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_DEJAVU_16_PERSIAN_HEBREW is not set
# CONFIG_LVGL_FONT_DEFAULT_SMALL_SIMSUN_16_CJK is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_12 is not set
CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_14=y
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_16 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_18 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_20 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_22 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_24 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_26 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_28 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_30 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_32 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_34 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_36 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_38 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_40 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_42 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_44 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_46 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT_48 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_UNSCII8 is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT12SUBPIX is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_MONTSERRAT28COMPRESSED is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_DEJAVU_16_PERSIAN_HEBREW is not set
# CONFIG_LVGL_FONT_DEFAULT_NORMAL_SIMSUN_16_CJK is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_12 is not set
CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_14=y
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_16 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_18 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_20 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_22 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_24 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_26 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_28 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_30 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_32 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_34 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_36 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_38 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_40 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_42 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_44 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_46 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT_48 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_UNSCII8 is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT12SUBPIX is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_MONTSERRAT28COMPRESSED is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_DEJAVU_16_PERSIAN_HEBREW is not set
# CONFIG_LVGL_FONT_DEFAULT_SUBTITLE_SIMSUN_16_CJK is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_12 is not set
CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_14=y
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_16 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_18 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_20 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_22 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_24 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_26 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_28 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_30 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_32 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_34 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_36 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_38 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_40 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_42 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_44 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_46 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT_48 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_UNSCII8 is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT12SUBPIX is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_MONTSERRAT28COMPRESSED is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_DEJAVU_16_PERSIAN_HEBREW is not set
# CONFIG_LVGL_FONT_DEFAULT_TITLE_SIMSUN_16_CJK is not set
# end of Font usage

#
# Theme usage
#

#
# Enable theme usage, always enable at least one theme
#
# CONFIG_LVGL_THEME_EMPTY is not set
# CONFIG_LVGL_THEME_TEMPLATE is not set
CONFIG_LVGL_THEME_MATERIAL=y
# CONFIG_LVGL_THEME_MONO is not set
# end of Enable theme usage, always enable at least one theme

# CONFIG_LVGL_THEME_DEFAULT_INIT_EMPTY is not set
# CONFIG_LVGL_THEME_DEFAULT_INIT_TEMPLATE is not set
CONFIG_LVGL_THEME_DEFAULT_INIT_MATERIAL=y
# CONFIG_LVGL_THEME_DEFAULT_INIT_MONO is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_WHITE is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_SILVER is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_GRAY is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_BLACK is not set
CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_RED=y
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_MAROON is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_YELLOW is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_OLIVE is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_LIME is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_GREEN is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_CYAN is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_AQUA is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_TEAL is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_BLUE is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_NAVY is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_MAGENTA is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_PURPLE is not set
# CONFIG_LVGL_THEME_DEFAULT_PRIMARY_COLOR_ORANGE is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_WHITE is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_SILVER is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_GRAY is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_BLACK is not set
CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_RED=y
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_MAROON is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_YELLOW is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_OLIVE is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_LIME is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_GREEN is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_CYAN is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_AQUA is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_TEAL is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_BLUE is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_NAVY is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_MAGENTA is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_PURPLE is not set
# CONFIG_LVGL_THEME_DEFAULT_SECONDARY_COLOR_ORANGE is not set
CONFIG_LVGL_THEME_DEFAULT_FLAG_LIGHT=y
# CONFIG_LVGL_THEME_DEFAULT_FLAG_DARK is not set
# end of Theme usage

#
# Memory manager settings
#
CONFIG_LVGL_MEM_SIZE=32
# end of Memory manager settings

#
# Log Settings
#
# CONFIG_LVGL_USE_LOG is not set
CONFIG_LVGL_LOG_PRINTF=y
# end of Log Settings

#
# Debug Settings
#
CONFIG_LVGL_USE_DEBUG=y
CONFIG_LVGL_USE_ASSERT_NULL=y
CONFIG_LVGL_USE_ASSERT_MEM=y
# CONFIG_LVGL_USE_ASSERT_MEM_INTEGRITY is not set
# CONFIG_LVGL_USE_ASSERT_STR is not set
# CONFIG_LVGL_USE_ASSERT_OBJ is not set
# CONFIG_LVGL_USE_ASSERT_STYLE is not set
# end of Debug Settings

#
# Text Settings
#
CONFIG_LVGL_TXT_ENC_UTF8=y
# CONFIG_LVGL_TXT_ENC_ASCII is not set
CONFIG_LVGL_TXT_BREAK_CHARS=" ,.;:-_"
CONFIG_LVGL_TXT_LINE_BREAK_LONG_LEN=0
CONFIG_LVGL_TXT_LINE_BREAK_LONG_PRE_MIN_LEN=3
CONFIG_LVGL_TXT_LINE_BREAK_LONG_POST_MIN_LEN=3
CONFIG_LVGL_TXT_COLOR_CMD="#"
CONFIG_LVGL_BIDI_NO_SUPPORT=y
# CONFIG_LVGL_BIDI_DIR_LTR is not set
# CONFIG_LVGL_BIDI_DIR_RTL is not set
# CONFIG_LVGL_BIDI_DIR_AUTO is not set
# CONFIG_LVGL_USE_ARABIC_PERSIAN_CHARS is not set
# CONFIG_LVGL_SPRINTF_CUSTOM is not set
# CONFIG_LVGL_SPRINTF_DISABLE_FLOAT is not set
# end of Text Settings

#
# Widgets
#
CONFIG_LVGL_USE_OBJ_REALIGN=y
# CONFIG_LVGL_EXT_CLICK_AREA_OFF is not set
CONFIG_LVGL_EXT_CLICK_AREA_TINY=y
# CONFIG_LVGL_EXT_CLICK_AREA_FULL is not set
CONFIG_LVGL_WIDGETS_USE_ARC=y
CONFIG_LVGL_WIDGETS_USE_BAR=y
CONFIG_LVGL_WIDGETS_USE_BTN=y
CONFIG_LVGL_WIDGETS_USE_BTNMATRIX=y
CONFIG_LVGL_WIDGETS_USE_CALENDAR=y
CONFIG_LVGL_WIDGETS_USE_CANVAS=y
CONFIG_LVGL_WIDGETS_USE_CHECKBOX=y
CONFIG_LVGL_WIDGETS_USE_CHART=y
CONFIG_LVGL_WIDGETS_CHART_AXIS_MAX_LEN=256
CONFIG_LVGL_WIDGETS_USE_CONTAINER=y
CONFIG_LVGL_WIDGETS_USE_CPICKER=y
CONFIG_LVGL_WIDGETS_USE_DROPDOWN=y
CONFIG_LVGL_WIDGETS_USE_GAUGE=y
CONFIG_LVGL_WIDGETS_USE_IMG=y
CONFIG_LVGL_WIDGETS_USE_IMGBTN=y
CONFIG_LVGL_WIDGETS_USE_KEYBOARD=y
CONFIG_LVGL_WIDGETS_USE_LABEL=y
CONFIG_LVGL_WIDGETS_LABEL_DEF_SCROLL_SPEED=25
CONFIG_LVGL_WIDGETS_LABEL_WAIT_CHAR_COUNT=3
CONFIG_LVGL_WIDGETS_USE_LED=y
CONFIG_LVGL_WIDGETS_LED_BRIGHT_MIN=120
CONFIG_LVGL_WIDGETS_LED_BRIGHT_MAX=255
CONFIG_LVGL_WIDGETS_USE_LINE=y
CONFIG_LVGL_WIDGETS_USE_LIST=y
CONFIG_LVGL_WIDGETS_LIST_DEFAULT_ANIMATION_TIME=100
CONFIG_LVGL_WIDGETS_USE_LINEMETER=y
CONFIG_LVGL_WIDGETS_USE_OBJMASK=y
CONFIG_LVGL_WIDGETS_USE_MSGBOX=y
CONFIG_LVGL_WIDGETS_USE_PAGE=y
CONFIG_LVGL_WIDGETS_PAGE_ANIMATION_DEFAULT_TIME=100
CONFIG_LVGL_WIDGETS_USE_SPINNER=y
CONFIG_LVGL_WIDGETS_SPINNER_DEF_ARC_LENGTH=60
CONFIG_LVGL_WIDGETS_SPINNER_DEF_SPIN_TIME=1000
CONFIG_LVGL_WIDGETS_USE_ROLLER=y
CONFIG_LVGL_WIDGETS_ROLLER_DEF_ANIM_TIME=200
CONFIG_LVGL_WIDGETS_ROLLER_INF_PAGES=7
CONFIG_LVGL_WIDGETS_USE_SLIDER=y
CONFIG_LVGL_WIDGETS_USE_SPINBOX=y
CONFIG_LVGL_WIDGETS_USE_SWITCH=y
CONFIG_LVGL_WIDGETS_USE_TEXTAREA=y
CONFIG_LVGL_WIDGETS_TEXTAREA_DEF_CURSOR_BLINK_TIME=400
CONFIG_LVGL_WIDGETS_TEXTAREA_DEF_PWN_SHOW_TIME=1500
CONFIG_LVGL_WIDGETS_USE_TABLE=y
CONFIG_LVGL_WIDGETS_TABLE_COL_MAX=12
CONFIG_LVGL_WIDGETS_USE_TABVIEW=y
CONFIG_LVGL_WIDGETS_TABVIEW_SLIDE_ANIMATION=300
CONFIG_LVGL_WIDGETS_USE_TILEVIEW=y
CONFIG_LVGL_WIDGETS_TILEVIEW_SLIDE_ANIMATION=300
CONFIG_LVGL_WIDGETS_USE_WINDOW=y
# end of Widgets

#
# Indev device settings
#
CONFIG_LVGL_INDEV_DEF_READ_PERIOD=30
CONFIG_LVGL_INDEV_DEF_DRAG_LIMIT=10
CONFIG_LVGL_INDEV_DEF_DRAG_THROW=10
CONFIG_LVGL_INDEV_DEF_LONG_PRESS_TIME=400
CONFIG_LVGL_INDEV_DEF_LONG_PRESS_REP_TIME=100
CONFIG_LVGL_INDEV_DEF_GESTURE_LIMIT=50
CONFIG_LVGL_INDEV_DEF_GESTURE_MIN_VELOCITY=3
# end of Indev device settings

#
# Feature usage
#
CONFIG_LVGL_FEATURE_USE_ANIMATION=y
CONFIG_LVGL_FEATURE_USE_SHADOW=y
CONFIG_LVGL_SHADOW_CACHE_SIZE=0
CONFIG_LVGL_FEATURE_USE_BLEND_MODES=y
CONFIG_LVGL_FEATURE_USE_OPA_SCALE=y
CONFIG_LVGL_FEATURE_USE_IMG_TRANSFORM=y
CONFIG_LVGL_FEATURE_USE_GROUP=y
CONFIG_LVGL_FEATURE_USE_GPU=y
# CONFIG_LVGL_FEATURE_USE_GPU_STM32_DMA2D is not set
CONFIG_LVGL_FEATURE_USE_FILESYSTEM=y
CONFIG_LVGL_FEATURE_USE_USER_DATA=y
CONFIG_LVGL_FEATURE_USE_PERF_MONITOR=y
CONFIG_LVGL_FEATURE_USE_API_EXTENSION_V6=y
# end of Feature usage

#
# Image decoder and cache
#
CONFIG_LVGL_IMG_CF_INDEXED=y
CONFIG_LVGL_IMG_CF_ALPHA=y
CONFIG_LVGL_IMG_CACHE_DEF_SIZE=1
# end of Image decoder and cache
# end of LVGL configuration

#
# LVGL TFT Display controller
#
CONFIG_LVGL_PREDEFINED_DISPLAY_NONE=y
# CONFIG_LVGL_PREDEFINED_DISPLAY_WROVER4 is not set
# CONFIG_LVGL_PREDEFINED_DISPLAY_M5STACK is not set
# CONFIG_LVGL_PREDEFINED_DISPLAY_M5STICK is not set
# CONFIG_LVGL_PREDEFINED_DISPLAY_M5STICKC is not set
# CONFIG_LVGL_PREDEFINED_DISPLAY_ERTFT0356 is not set
# CONFIG_LVGL_PREDEFINED_DISPLAY_ADA_FEATHERWING is not set
# CONFIG_LVGL_PREDEFINED_DISPLAY_RPI_MPI3501 is not set
# CONFIG_LVGL_PREDEFINED_DISPLAY_WEMOS_LOLIN is not set
# CONFIG_LVGL_PREDEFINED_DISPLAY_ATAG is not set
# CONFIG_LVGL_PREDEFINED_DISPLAY_RPI_RA8875 is not set
# CONFIG_LVGL_PREDEFINED_DISPLAY_TTGO is not set
# CONFIG_LVGL_PREDEFINED_DISPLAY_TTGO_CAMERA_PLUS is not set
CONFIG_LVGL_TFT_DISPLAY_CONTROLLER_ILI9341=y
CONFIG_LVGL_TFT_DISPLAY_PROTOCOL_SPI=y
CONFIG_LVGL_PREDEFINED_PINS_NONE=y
# CONFIG_LVGL_PREDEFINED_PINS_38V4 is not set
# CONFIG_LVGL_PREDEFINED_PINS_30 is not set
# CONFIG_LVGL_PREDEFINED_PINS_38V1 is not set
# CONFIG_LVGL_PREDEFINED_PINS_TKOALA is not set
CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_ILI9341=y
# CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_ILI9481 is not set
# CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_ILI9486 is not set
# CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_ILI9488 is not set
# CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_ST7789 is not set
# CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_GC9A01 is not set
# CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_ST7735S is not set
# CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_HX8357 is not set
# CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_SH1107 is not set
# CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_SSD1306 is not set
# CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_FT81X is not set
# CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_IL3820 is not set
# CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_JD79653A is not set
# CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_UC8151D is not set
# CONFIG_LVGL_TFT_DISPLAY_USER_CONTROLLER_RA8875 is not set
# CONFIG_LVGL_TFT_DISPLAY_SPI_HSPI is not set
CONFIG_LVGL_TFT_DISPLAY_SPI_VSPI=y
# CONFIG_LVGL_DISPLAY_ORIENTATION_PORTRAIT is not set
# CONFIG_LVGL_DISPLAY_ORIENTATION_PORTRAIT_INVERTED is not set
# CONFIG_LVGL_DISPLAY_ORIENTATION_LANDSCAPE is not set
CONFIG_LVGL_DISPLAY_ORIENTATION_LANDSCAPE_INVERTED=y
CONFIG_LVGL_DISPLAY_ORIENTATION=3
CONFIG_LVGL_DISPLAY_WIDTH=320
CONFIG_LVGL_DISPLAY_HEIGHT=240
# CONFIG_LVGL_TFT_USE_CUSTOM_SPI_CLK_DIVIDER is not set
CONFIG_LVGL_TFT_CUSTOM_SPI_CLK_DIVIDER=2
# CONFIG_LVGL_INVERT_DISPLAY is not set
# CONFIG_LVGL_INVERT_COLORS is not set
CONFIG_LVGL_AXP192_PIN_SDA=21
CONFIG_LVGL_AXP192_PIN_SCL=22

#
# Display Pin Assignments
#
CONFIG_LVGL_DISP_SPI_MOSI=23
CONFIG_LVGL_DISPLAY_USE_SPI_MISO=y
CONFIG_LVGL_DISP_SPI_MISO=19
CONFIG_LVGL_DISP_SPI_INPUT_DELAY_NS=0
CONFIG_LVGL_DISP_SPI_CLK=18
CONFIG_LVGL_DISPLAY_USE_SPI_CS=y
CONFIG_LVGL_DISP_SPI_CS=5
CONFIG_LVGL_DISPLAY_USE_DC=y
CONFIG_LVGL_DISP_PIN_DC=21
CONFIG_LVGL_DISP_PIN_RST=22
CONFIG_LVGL_DISP_PIN_BUSY=35
# CONFIG_LVGL_ENABLE_BACKLIGHT_CONTROL is not set
CONFIG_LVGL_DISP_PIN_SDA=5
CONFIG_LVGL_DISP_PIN_SCL=4
# end of Display Pin Assignments
# end of LVGL TFT Display controller

#
# LVGL Touch controller
#
CONFIG_LVGL_TOUCH_CONTROLLER=1
# CONFIG_LVGL_TOUCH_CONTROLLER_NONE is not set
CONFIG_LVGL_TOUCH_CONTROLLER_XPT2046=y
# CONFIG_LVGL_TOUCH_CONTROLLER_FT6X06 is not set
# CONFIG_LVGL_TOUCH_CONTROLLER_STMPE610 is not set
# CONFIG_LVGL_TOUCH_CONTROLLER_ADCRAW is not set
# CONFIG_LVGL_TOUCH_CONTROLLER_FT81X is not set
# CONFIG_LVGL_TOUCH_CONTROLLER_RA8875 is not set
CONFIG_LVGL_TOUCH_DRIVER_PROTOCOL_SPI=y
# CONFIG_LVGL_TOUCH_CONTROLLER_SPI_HSPI is not set
CONFIG_LVGL_TOUCH_CONTROLLER_SPI_VSPI=y

#
# Touchpanel (XPT2046) Pin Assignments
#
CONFIG_LVGL_TOUCH_SPI_MISO=19
CONFIG_LVGL_TOUCH_SPI_MOSI=23
CONFIG_LVGL_TOUCH_SPI_CLK=18
CONFIG_LVGL_TOUCH_SPI_CS=25
CONFIG_LVGL_TOUCH_PIN_IRQ=36
# end of Touchpanel (XPT2046) Pin Assignments

#
# Touchpanel Configuration (XPT2046)
#
CONFIG_LVGL_TOUCH_X_MIN=200
CONFIG_LVGL_TOUCH_Y_MIN=120
CONFIG_LVGL_TOUCH_X_MAX=1900
CONFIG_LVGL_TOUCH_Y_MAX=1900
# CONFIG_LVGL_TOUCH_XY_SWAP is not set
# CONFIG_LVGL_TOUCH_INVERT_X is not set
# CONFIG_LVGL_TOUCH_INVERT_Y is not set
# end of Touchpanel Configuration (XPT2046)
# end of LVGL Touch controller
# end of Component config

#
# Compatibility options
#
# CONFIG_LEGACY_INCLUDE_COMMON_HEADERS is not set
# end of Compatibility options

# Deprecated options for backward compatibility
CONFIG_TOOLPREFIX="xtensa-esp32-elf-"
# CONFIG_LOG_BOOTLOADER_LEVEL_NONE is not set
# CONFIG_LOG_BOOTLOADER_LEVEL_ERROR is not set
# CONFIG_LOG_BOOTLOADER_LEVEL_WARN is not set
CONFIG_LOG_BOOTLOADER_LEVEL_INFO=y
# CONFIG_LOG_BOOTLOADER_LEVEL_DEBUG is not set
# CONFIG_LOG_BOOTLOADER_LEVEL_VERBOSE is not set
CONFIG_LOG_BOOTLOADER_LEVEL=3
# CONFIG_APP_ROLLBACK_ENABLE is not set
# CONFIG_FLASH_ENCRYPTION_ENABLED is not set
# CONFIG_FLASHMODE_QIO is not set
# CONFIG_FLASHMODE_QOUT is not set
CONFIG_FLASHMODE_DIO=y
# CONFIG_FLASHMODE_DOUT is not set
# CONFIG_MONITOR_BAUD_9600B is not set
# CONFIG_MONITOR_BAUD_57600B is not set
CONFIG_MONITOR_BAUD_115200B=y
# CONFIG_MONITOR_BAUD_230400B is not set
# CONFIG_MONITOR_BAUD_921600B is not set
# CONFIG_MONITOR_BAUD_2MB is not set
# CONFIG_MONITOR_BAUD_OTHER is not set
CONFIG_MONITOR_BAUD_OTHER_VAL=115200
CONFIG_MONITOR_BAUD=115200
CONFIG_COMPILER_OPTIMIZATION_LEVEL_DEBUG=y
# CONFIG_COMPILER_OPTIMIZATION_LEVEL_RELEASE is not set
CONFIG_OPTIMIZATION_ASSERTIONS_ENABLED=y
# CONFIG_OPTIMIZATION_ASSERTIONS_SILENT is not set
# CONFIG_OPTIMIZATION_ASSERTIONS_DISABLED is not set
# CONFIG_CXX_EXCEPTIONS is not set
# CONFIG_STACK_CHECK_NONE is not set
CONFIG_STACK_CHECK_NORM=y
# CONFIG_STACK_CHECK_STRONG is not set
# CONFIG_STACK_CHECK_ALL is not set
CONFIG_STACK_CHECK=y
# CONFIG_WARN_WRITE_STRINGS is not set
# CONFIG_DISABLE_GCC8_WARNINGS is not set
# CONFIG_ESP32_APPTRACE_DEST_TRAX is not set
CONFIG_ESP32_APPTRACE_DEST_NONE=y
CONFIG_ESP32_APPTRACE_LOCK_ENABLE=y
CONFIG_BTDM_CONTROLLER_BLE_MAX_CONN_EFF=0
CONFIG_BTDM_CONTROLLER_BR_EDR_MAX_ACL_CONN_EFF=0
CONFIG_BTDM_CONTROLLER_BR_EDR_MAX_SYNC_CONN_EFF=0
CONFIG_BTDM_CONTROLLER_PINNED_TO_CORE=0
CONFIG_ADC2_DISABLE_DAC=y
# CONFIG_SPIRAM_SUPPORT is not set
CONFIG_TRACEMEM_RESERVE_DRAM=0x0
# CONFIG_TWO_UNIVERSAL_MAC_ADDRESS is not set
CONFIG_FOUR_UNIVERSAL_MAC_ADDRESS=y
CONFIG_NUMBER_OF_UNIVERSAL_MAC_ADDRESS=4
CONFIG_ULP_COPROC_ENABLED=y
CONFIG_ULP_COPROC_RESERVE_MEM=512
CONFIG_BROWNOUT_DET=y
CONFIG_BROWNOUT_DET_LVL_SEL_0=y
# CONFIG_BROWNOUT_DET_LVL_SEL_1 is not set
# CONFIG_BROWNOUT_DET_LVL_SEL_2 is not set
# CONFIG_BROWNOUT_DET_LVL_SEL_3 is not set
# CONFIG_BROWNOUT_DET_LVL_SEL_4 is not set
# CONFIG_BROWNOUT_DET_LVL_SEL_5 is not set
# CONFIG_BROWNOUT_DET_LVL_SEL_6 is not set
# CONFIG_BROWNOUT_DET_LVL_SEL_7 is not set
CONFIG_BROWNOUT_DET_LVL=0
CONFIG_REDUCE_PHY_TX_POWER=y
CONFIG_ESP32_RTC_CLOCK_SOURCE_INTERNAL_RC=y
# CONFIG_ESP32_RTC_CLOCK_SOURCE_EXTERNAL_CRYSTAL is not set
# CONFIG_ESP32_RTC_CLOCK_SOURCE_EXTERNAL_OSC is not set
# CONFIG_ESP32_RTC_CLOCK_SOURCE_INTERNAL_8MD256 is not set
# CONFIG_DISABLE_BASIC_ROM_CONSOLE is not set
# CONFIG_NO_BLOBS is not set
# CONFIG_COMPATIBLE_PRE_V2_1_BOOTLOADERS is not set
CONFIG_SYSTEM_EVENT_QUEUE_SIZE=32
CONFIG_SYSTEM_EVENT_TASK_STACK_SIZE=2304
CONFIG_MAIN_TASK_STACK_SIZE=3584
CONFIG_IPC_TASK_STACK_SIZE=1024
CONFIG_TIMER_TASK_STACK_SIZE=3584
CONFIG_CONSOLE_UART_DEFAULT=y
# CONFIG_CONSOLE_UART_CUSTOM is not set
# CONFIG_CONSOLE_UART_NONE is not set
CONFIG_CONSOLE_UART_NUM=0
CONFIG_CONSOLE_UART_BAUDRATE=115200
CONFIG_INT_WDT=y
CONFIG_INT_WDT_TIMEOUT_MS=300
CONFIG_INT_WDT_CHECK_CPU1=y
CONFIG_TASK_WDT=y
# CONFIG_TASK_WDT_PANIC is not set
CONFIG_TASK_WDT_TIMEOUT_S=5
CONFIG_TASK_WDT_CHECK_IDLE_TASK_CPU0=y
CONFIG_TASK_WDT_CHECK_IDLE_TASK_CPU1=y
# CONFIG_EVENT_LOOP_PROFILING is not set
CONFIG_POST_EVENTS_FROM_ISR=y
CONFIG_POST_EVENTS_FROM_IRAM_ISR=y
CONFIG_MB_MASTER_TIMEOUT_MS_RESPOND=150
CONFIG_MB_MASTER_DELAY_MS_CONVERT=200
CONFIG_MB_QUEUE_LENGTH=20
CONFIG_MB_SERIAL_TASK_STACK_SIZE=2048
CONFIG_MB_SERIAL_BUF_SIZE=256
CONFIG_MB_SERIAL_TASK_PRIO=10
# CONFIG_MB_CONTROLLER_SLAVE_ID_SUPPORT is not set
CONFIG_MB_CONTROLLER_NOTIFY_TIMEOUT=20
CONFIG_MB_CONTROLLER_NOTIFY_QUEUE_SIZE=20
CONFIG_MB_CONTROLLER_STACK_SIZE=4096
CONFIG_MB_EVENT_QUEUE_TIMEOUT=20
CONFIG_MB_TIMER_PORT_ENABLED=y
CONFIG_MB_TIMER_GROUP=0
CONFIG_MB_TIMER_INDEX=0
# CONFIG_SUPPORT_STATIC_ALLOCATION is not set
CONFIG_TIMER_TASK_PRIORITY=1
CONFIG_TIMER_TASK_STACK_DEPTH=2048
CONFIG_TIMER_QUEUE_LENGTH=10
# CONFIG_L2_TO_L3_COPY is not set
# CONFIG_USE_ONLY_LWIP_SELECT is not set
CONFIG_ESP_GRATUITOUS_ARP=y
CONFIG_GARP_TMR_INTERVAL=60
CONFIG_TCPIP_RECVMBOX_SIZE=32
CONFIG_TCP_MAXRTX=12
CONFIG_TCP_SYNMAXRTX=6
CONFIG_TCP_MSS=1440
CONFIG_TCP_MSL=60000
CONFIG_TCP_SND_BUF_DEFAULT=5744
CONFIG_TCP_WND_DEFAULT=5744
CONFIG_TCP_RECVMBOX_SIZE=6
CONFIG_TCP_QUEUE_OOSEQ=y
# CONFIG_ESP_TCP_KEEP_CONNECTION_WHEN_IP_CHANGES is not set
CONFIG_TCP_OVERSIZE_MSS=y
# CONFIG_TCP_OVERSIZE_QUARTER_MSS is not set
# CONFIG_TCP_OVERSIZE_DISABLE is not set
CONFIG_UDP_RECVMBOX_SIZE=6
CONFIG_TCPIP_TASK_STACK_SIZE=3072
CONFIG_TCPIP_TASK_AFFINITY_NO_AFFINITY=y
# CONFIG_TCPIP_TASK_AFFINITY_CPU0 is not set
# CONFIG_TCPIP_TASK_AFFINITY_CPU1 is not set
CONFIG_TCPIP_TASK_AFFINITY=0x7FFFFFFF
# CONFIG_PPP_SUPPORT is not set
CONFIG_ESP32_PTHREAD_TASK_PRIO_DEFAULT=5
CONFIG_ESP32_PTHREAD_TASK_STACK_SIZE_DEFAULT=3072
CONFIG_ESP32_PTHREAD_STACK_MIN=768
CONFIG_ESP32_DEFAULT_PTHREAD_CORE_NO_AFFINITY=y
# CONFIG_ESP32_DEFAULT_PTHREAD_CORE_0 is not set
# CONFIG_ESP32_DEFAULT_PTHREAD_CORE_1 is not set
CONFIG_ESP32_PTHREAD_TASK_CORE_DEFAULT=-1
CONFIG_ESP32_PTHREAD_TASK_NAME_DEFAULT="pthread"
CONFIG_SPI_FLASH_WRITING_DANGEROUS_REGIONS_ABORTS=y
# CONFIG_SPI_FLASH_WRITING_DANGEROUS_REGIONS_FAILS is not set
# CONFIG_SPI_FLASH_WRITING_DANGEROUS_REGIONS_ALLOWED is not set
CONFIG_SUPPRESS_SELECT_DEBUG_OUTPUT=y
CONFIG_SUPPORT_TERMIOS=y
# End of deprecated options
